@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {

  scroll-snap-type: mandatory;



}

.profile-svg {
  fill: #05A081;



}

.web-image-container {
  /* width: 1400px; */
  background-image: url('../Projects/images/pexels-pranidchakan-boonrom-101111-1350560.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(20%);

  /* height: 700px; */

}

.slogan {
  height: 100%;
  font-family: 'Noticia Text', serif;
  font-size: 65px;
  position: absolute;
  top: 300px;
  left: 300px;
  font-style: italic;
  color: white;

  z-index: 300;
  font-weight: 800;

}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgb(255, 251, 251);
  z-index: 200;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);

}

#header {

  transition: transform 0.3s ease;
}

#header.hidden {
  transform: translateY(-180%);
}

.web-logo {
  margin-top: 20px;
  margin-right: 10px;
}

.section-1 {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
}

h2 {
  color: #05A081;
  font-style: ;
  font-size: 30px;
  font-weight: 200;
  font-family: ;

}

.health-text {
  font-weight: 500;
}

.section-2 {
  display: flex;
  width: 539.59px;
  justify-content: space-between;


}

.button-div {}



.menu-option {
  background-color: white;

  border: none;

  white-space: nowrap;
  color: #05A081;
  font-size: 14px;
  box-sizing: content-box;


}

.menu-option:hover {
  color: #035040;
  transition: 0.15s;
  cursor: pointer;
}

.contact {
  width: 90px;

}

.section-3 {
  display: flex;
  margin-right: 20px;
  color: #05A081;
}

.section-3:hover {
  color: #035040;
  cursor: pointer;
}

.main {

  height: 100%;
  margin-top: -10px;
}

.data-main {
  display: flex;
  width: 100%;
  height: 500px;
  color: white;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  background-color: #05A081;
}

.info-container {
  width: 300px;
  justify-content: ;
  margin-top: 50px;
  height: ;

}

.info-title {
  font-family: 'Noticia Text';
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.more-info-div {
  margin-top: 100px;
  margin-left: 70px;
}

.more-info {
  padding: 20px 50px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.more-info:hover {
  background-color: white;
  color: #05A081;
  transition: 0.15s;
}

.about-us-container {
  width: ;
  background-image: url('http://127.0.0.1:5500/Projects/images/pexels-maxmishin-11119419.jpg');

  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);

}


.about-us {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  padding: 70px;
  line-height: 28px;
  color: #05A081;
  background-color: white;
  z-index: 600;

}

p {
  text-align: center;
  margin-bottom: 30px;
}

.learn-more {
  border-color: #05A081;
  color: #05A081;

}

.learn-more:hover {
  background-color: #05A081;
  color: white;
  transition: 0.15s;
}

.learn-more-container {
  margin-top: 50px;
}

.form-div {
  display: flex;
  width: ;
  background-image: url('https://images.pexels.com/photos/65614/coast-beach-rock-stones-65614.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  height: 850px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  background-color: white;
  height: 650px;

  width: 600px;
  margin-top: 90px;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;

}

.title-div {
  text-align: center;
  font-family: sans-serif;
  color: #324157;
  margin-bottom: 30px;
}

.page-text {
  font-family: 'Noticia Text', serif;
  color: #05A081;
  font-size: 45px;
  font-style: italic;

}

.title-div p {
  margin: 0;
  width: 450px;
  line-height: 25px;
  text-align: ;

}

.name-input-div {
  display: flex;
  font-family: sans-serif;
  color: #324157;
  font-size: 14px;
  gap: 20px;


}

.name-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-bar {
  padding: 8px 12px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid rgb(82, 80, 80);
  outline: none;
}

.Message-input {
  height: 100px;

}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 388px;
  margin-left: 50px;
  gap: 24px;
}

.email-div {
  width: 100%;
  font-family: sans-serif;
  color: #324157;
  font-size: 14px;
}

footer {
  height: 300px;

  background-color: #05A081;

}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 50px;
  gap: 24px;
  font-size: 13px;
}

.join-us-text {
  font-size: 24px;
  font-family: "noticia text";
  font-style: italic;

}

.text-writeup {
  font-size: 16px;
  font-family: ;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  z-index: 999;
  background-color: rgba(146, 144, 144, 0.479);
  align-items: ;
  padding-top: 20px;
  display: none;
  backdrop-filter: blur(10px);
  flex-direction: column;

  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

li {
  list-style: none;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 0;
}

li:hover {
  background-color: lightgrey;

}

ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding-left: 20px;

}

ul {}

.hamburger-menu {
  display: none;
}


@media only screen and (max-width:1024px) {
  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    
    position: absolute;
    top: 300px;
    left: 120px;
    font-style: italic;
    color: white;
    
    z-index: 300;
    font-weight: 800;
  }
}

@media only screen and (max-width:768px) {

  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    font-size: 50px;
    position: absolute;
    top: 300px;
    left: 120px;
    font-style: italic;
    color: white;


    z-index: 300;
    font-weight: 800;
  }

  .hamburger-menu {
    display: flex;
  }

  .section-2,
  .section-3 {
    display: none;
  }

  h2 {
    font-size: 15px;
  }


  .section-1 {
    margin-right: auto;
    margin-top: 14px;

  }

  .web-logo {
    margin: 0;
  }

  .health-text {
    margin: 0;
  }

  .web-image-container {
    overflow-x: hidden;
  }

  .data-main {
    display: flex;
    align-items: flex-start;
    height: 400px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    height: 100%;
  }

  .more-info-div {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .more-info-div {
    margin-top: 50px;
  }

  .about-us {
    padding: 30px;
  }

  .about-us p {
    font-size: 14px;
  }

  .info-title {
    font-size: 28px;
  }

  .form {
    display: flex;
    background-color: white;
    height: 650px;
    padding: 30px;
    width: 350px;
    margin-top: 90px;
  }

  .form-content {
    padding: 0;
    width: 100%;
  }



  .title-div p {

    margin: 0;
    width: 100%;
    line-height: 25px;
    text-align: ;


  }

  .form-list {
    width: 100%;
    margin: 0;
  }

  .input-bar {
    padding: 0;
  }

  .name-input-div {
    gap: 10px;
    width: 100%;
  }

  .text-bar {
    width: 170px;
  }

  .text-writeup {
    text-align: center;
  }
}

@media only screen and (min-width:426px)and (max-width:720px) {
  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    font-size: 50px;
    position: absolute;
    top: 300px;
    left: 150px;
    font-style: italic;
    color: white;
    width: 400px;

    z-index: 300;
    font-weight: 800;
  }

  .hamburger-menu {
    display: flex;
  }

  .section-2,
  .section-3 {
    display: none;
  }

  h2 {
    font-size: 15px;
  }


  .section-1 {
    margin-right: auto;
    margin-top: 14px;

  }

  .web-logo {
    margin: 0;
  }

  .health-text {
    margin: 0;
  }

  .web-image-container {
    overflow-x: hidden;
  }

  .data-main {
    display: flex;
    flex-direction: column;
    height: 850px;
    font-size: 12px;
    padding-bottom: 20px;
    align-items: center;
  }

  .info-container {
    margin-top: 20px;

    width: 80%;



  }

  .info-title {
    margin: 0;
    font-size: 28px;
  }

  p {
    margin: 0;
  }

  .more-info-div {
    margin-top: 50px;
  }

  .about-us {
    padding: 30px;
  }

  .about-us p {
    font-size: 14px;
  }


  .form {
    display: flex;
    background-color: white;
    height: 650px;
    padding: 30px;
    width: 350px;
    margin-top: 90px;
  }

  .form-content {
    padding: 0;
    width: 100%;
  }

  .form-list {
    width: 100%;
  }

  .title-div p {

    margin: 0;
    width: 100%;
    line-height: 25px;
    text-align: ;


  }

  .form-list {
    width: 100%;
    margin: 0;
  }

  .input-bar {
    padding: 0;
  }

  .name-input-div {
    gap: 10px;
    width: 100%;
  }

  .text-bar {
    width: 170px;
  }

  .text-writeup {
    text-align: center;
  }
}

@media only screen and (max-width:425px) {
  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 100px;
    font-style: italic;
    color: white;
    width: 300px;

    z-index: 300;
    font-weight: 800;
  }

  .hamburger-menu {
    display: flex;
  }

  .section-2,
  .section-3 {
    display: none;
  }

  h2 {
    font-size: 15px;
  }


  .section-1 {
    margin-right: auto;
    margin-top: 14px;

  }

  .web-logo {
    margin: 0;
  }

  .health-text {
    margin: 0;
  }

  .web-image-container {
    overflow-x: hidden;
  }

  .data-main {
    display: flex;
    flex-direction: column;
    height: 850px;
    font-size: 12px;
    padding-bottom: 20px;
    align-items: center;
  }

  .info-container {
    margin-top: 20px;

    width: 80%;



  }

  .info-title {
    margin: 0;
    font-size: 28px;
  }

  p {
    margin: 0;
  }

  .more-info-div {
    margin-top: 50px;
  }

  .about-us {
    padding: 30px;
  }

  .about-us p {
    font-size: 14px;
  }


  .form {
    display: flex;
    background-color: white;
    height: 650px;
    padding: 30px;
    width: 350px;
    margin-top: 90px;
  }

  .form-content {
    padding: 0;
    width: 100%;
  }

  .form-list {
    width: 100%;
  }

  .title-div p {

    margin: 0;
    width: 100%;
    line-height: 25px;
    text-align: ;


  }

  .form-list {
    width: 100%;
    margin: 0;
  }

  .input-bar {
    padding: 0;
  }

  .name-input-div {
    gap: 10px;
    width: 100%;
  }

  .text-bar {
    width: 170px;
  }

  .text-writeup {
    text-align: center;
  }
}



@media only screen and (max-width:375px) {
  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    position: absolute;
    top: 300px;
    left: 100px;
    font-style: italic;
    color: white;
    width: 200px;

    z-index: 300;
    font-weight: 800;
  }

  .hamburger-menu {
    display: flex;
  }

  .section-2,
  .section-3 {
    display: none;
  }

  h2 {
    font-size: 15px;
  }


  .section-1 {
    margin-right: auto;
    margin-top: 14px;

  }

  .web-logo {
    margin: 0;
  }

  .health-text {
    margin: 0;
  }

  .web-image-container {
    overflow-x: hidden;
  }

  .data-main {
    display: flex;
    flex-direction: column;
    height: 800px;
    font-size: 12px;
    padding-bottom: 20px;
    gap: 10px;
  }

  .info-container {
    margin-top: 20px;
    gap: 5px;
    width: 80%;



  }

  .info-title {
    margin: 0;
    font-size: 28px;
  }

  p {
    margin: 0;
  }

  .more-info-div {
    margin-top: 50px;
  }

  .about-us {
    padding: 20px;
  }

  .about-us p {
    font-size: 14px;
  }


  .form {
    display: flex;
    background-color: white;
    height: 650px;
    padding: 20px;
    width: 340px;
    margin-top: 90px;
  }

  .form-content {
    padding: 0;
  }


  .title-div p {

    margin: 0;
    width: 100%;
    line-height: 25px;
    text-align: ;


  }

  .form-list {
    width: 100%;
    margin: 0;
  }

  .input-bar {
    padding: 0;
  }

  .name-input-div {
    gap: 5px;
  }
}

@media only screen and (max-width:320px) {
  .slogan {
    height: 50%;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    position: absolute;
    top: 300px;
    left: 70px;
    font-style: italic;
    color: white;
    width: 200px;

    z-index: 300;
    font-weight: 800;
  }

  .hamburger-menu {
    display: flex;
  }

  .section-2,
  .section-3 {
    display: none;
  }

  h2 {
    font-size: 15px;
  }


  .section-1 {
    margin-right: auto;
    margin-top: 14px;

  }

  .web-logo {
    margin: 0;
  }

  .health-text {
    margin: 0;
  }

  .web-image-container {
    overflow-x: hidden;
  }

  .data-main {
    display: flex;
    flex-direction: column;
    height: 850px;
    font-size: 12px;
    padding-bottom: 20px;
    align-items: center;
  }

  .info-container {
    padding-top: 20px;
    margin: 0;

  }

  p {
    margin: 0;
  }

  .more-info-div {
    margin-top: 50px;
  }

  .about-us {
    padding: 10px;
    height: 790px
  }

  .about-us p {
    font-size: 14px;
  }

  .info-title {
    font-size: 28px;
  }

  .form {
    display: flex;
    background-color: white;
    height: 650px;

    width: 320px;
    margin-top: 90px;
  }

  .form-content {
    padding: 0;
  }


  .title-div p {

    margin: 0;
    width: 100%;
    line-height: 25px;
    text-align: ;


  }

  .form-list {
    width: 100%;
    margin: 0;


  }

  .input-bar {}

  .text-bar {
    width: 130px;
    padding: 0 20px;
  }

  .name-input-div {
    gap: 20px;
  }

}